/* this is the css file related to text manipulation */

.bold { font-weight: 800; }

.italic { font-style: italic; }

.underline { text-decoration: underline; }

.strikethrough { text-decoration: strikethrough; }

