/* this is the css file containing UI elements */

.clrFlt { clear: both; }

.mainEditorDiv {
  width: 25rem;
  height: 15rem;
  border: solid 1px #555;
  border-radius: 1em;
  padding: 1em;
}

.btnDiv {

}

.styleBtn {
  width: 1.4rem;
  border: solid 1px #555;
  float:left;
  text-align: center;
  cursor: pointer;
}

.activeBtn {
  background-color: #444;
  color: #CCC;
}
