/* this is the css file containing UI elements */

body {
  width: 500px;
  height: 450px;
}

#wrapperDiv {
  margin:auto;
}

.clrFlt { clear: both; }

.mainEditorDiv {
  width: 25rem;
  height: 15rem;
  border: solid 1px #555;
  border-radius: 1em;
  padding: 1em;
  margin: auto;
}

.btnDiv {
  position:relative;
  margin: auto;
}

.styleBtn {
  position:relative;
  width: 1.4rem;
  border: solid 1px #555;
  float:left;
  text-align: center;
  cursor: pointer;
}

.activeBtn {
  background-color: #444;
  color: #CCC;
}
